

      

<div class="col-md-4 col-sm-6  mb-3 text-center tm-catalog-item">
            <div class="position-relative tm-thumbnail-container">
                                <a href="{% url 'products:detail' slug=product.slug %}">
                               <img style="height: 300px ; width: 500px" src="{{ product.image.url }}" alt="{{ product.title }}">
                               </a>
                                <a href="{% url 'products:detail' slug=product.slug %}" class="position-absolute tm-img-overlay">     
                                </a>
            </div>
            <div class="p-4 tm-bg-gray tm-catalog-item-description">
                                <h3 class="tm-text-primary mb-3 tm-catalog-item-title">{{ product.title }}</h3>
                                <p class="tm-catalog-item-text">{{ product.description | truncatewords:4 }}
                                </p>

<p class="text-secondary mb-3 tm-catalog-item-title">{{ product.like_count }}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
</svg></p>
                  
    
    </div>
</div>






