{% extends "base.html" %}
{% load static %}

{% block content %}


    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <div class="position-absolute tm-site-header">
                <div class="container-fluid position-relative">
                    <div class="row">
  {% include "base/nav.html" with brand_name=brand %}
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-welcome-container text-center text-white">
                <div class="tm-welcome-container-inner">
                    <p class="tm-welcome-text mb-1 text-white"> {% if request.user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>login content</h3>
                    <p class="text-center">
                        {{ new_content }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}</p>
                    <p class="tm-welcome-text mb-5 text-white">This is a full-width video banner.</p>
                    <a href="/admin" class="btn tm-btn-animate tm-btn-cta ">
                        <span>admin page</span>
                    </a>
                     
                </div>
            </div>

            <div id="tm-video-container">

            <img src="{% static 'images/back7.jpg' %}" alt="static image"
                                     class="img-fluid tm-catalog-item-img">

                
            </div>



            <i id="tm-video-control-button" class="fas fa-pause"></i>
        </div>

        <div class="container-fluid">
            <div id="content" class="mx-auto tm-content-container">
                <main>
                    <div class="row">
                        <div class="col-12">
                    
                            <div class="text-info text-center"><h1>{{ content }}</h1>

                            </div>


                            
                        </div>
                    </div>


                 <div class="container-fluid">   
<div class="row">
      <div class="col-md-12">
                    <div class="row">
   {% for product in object_list %}
    
        {% include 'products/components/product_item.html' with prpduct=product %}
     
    {% endfor %}
 </div>
           </div>             
</div>  
</div>  

                    <!-- Catalog Paging Buttons -->
                    <div>
                        <ul class="nav tm-paging-links">
                            <li class="nav-item active"><a href="#" class="nav-link tm-paging-link">1</a></li>
                            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">2</a></li>
                            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">3</a></li>
                            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">4</a></li>
                            <li class="nav-item"><a href="#" class="nav-link tm-paging-link">></a></li>
                        </ul>
                    </div>
                </main>

                <!-- Subscribe form and footer links -->
               
                <footer class="row pt-5">

                </footer>
            </div> <!-- tm-content-container -->
        </div>

    </div> <!-- .tm-page-wrap -->

<hr>

 <div id="container" class="m-auto" >
 <h3 class="container text-center bg-secondary text-white">نمودار لایک خور ترین محصولات</h3>
        <canvas class="container" id="pie-chart"></canvas>
      </div>

<hr>

<div class="container">

<p class="text-center display-4"> Coins </p>

<div class="col-md-4 border">
 <div class="row">
   <div class=" col-md-4 col-sm-4 col-4">
    <img src="{% static 'images/bitpng.png' %}" class="" style="width:100%; height:100%" alt="...">
   </div>
  
   <div class="col-md-8 col-sm-8 col-8">
    <div>{{response.RAW.BTC.USD.FROMSYMBOL}}</div>
    <p>{{response.RAW.BTC.USD.PRICE}}$</p>
   </div>
 </div>
</div>

<div class="col-md-4 border">
 <div class="row">
   <div class=" col-md-4 col-sm-4 col-4">
    <img src="{% static 'images/ethpng.png' %}" class="" style="width:100%; height:100%" alt="...">
   </div>
  
   <div class="col-md-8 col-sm-8 col-8">
    <div>{{response.RAW.ETH.USD.FROMSYMBOL}}</div>
    <p>{{response.RAW.ETH.USD.PRICE}}$</p>
   </div>
 </div>
</div>

<div class="col-md-4 border">
 <div class="row">
   <div class=" col-md-4 col-sm-4 col-4">
    <img src="{% static 'images/bnbpng.png' %}" class="" style="width:100%; height:100%" alt="...">
   </div>
  
   <div class="col-md-8 col-sm-8 col-8">
    <div>{{response.RAW.BNB.USD.FROMSYMBOL}}</div>
    <p>{{response.RAW.BNB.USD.PRICE}}$</p>
   </div>
 </div>
</div>

<div class="col-md-4 border">
 <div class="row">
   <div class=" col-md-4 col-sm-4 col-4">
    <img src="{% static 'images/Litecoinpng.png' %}" class="" style="width:100%; height:100%" alt="...">
   </div>
  
   <div class="col-md-8 col-sm-8 col-8">
    <div>{{response.RAW.LTC.USD.FROMSYMBOL}}</div>
    <p>{{response.RAW.LTC.USD.PRICE}}$</p>
   </div>
 </div>
</div>

<div class="col-md-4 border">
 <div class="row">
   <div class=" col-md-4 col-sm-4 col-4">
    <img src="{% static 'images/adapng.png' %}" class="" style="width:100%; height:100%" alt="...">
   </div>
  
   <div class="col-md-8 col-sm-8 col-8">
    <div>{{response.RAW.ADA.USD.FROMSYMBOL}}</div>
    <p>{{response.RAW.ADA.USD.PRICE}}$</p>
   </div>
 </div>
</div>

<div class="col-md-4 border">
 <div class="row">
   <div class=" col-md-4 col-sm-4 col-4">
    <img src="{% static 'images/polkadotpng.png' %}" class="" style="width:100%; height:100%" alt="...">
   </div>
  
   <div class="col-md-8 col-sm-8 col-8">
    <div>{{response.RAW.DOT.USD.FROMSYMBOL}}</div>
    <p>{{response.RAW.DOT.USD.PRICE}}$</p>
   </div>
 </div>
</div>
</div>

<br>
{% endblock %}

{% block header_styles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% endblock %}


